.ant-popover-inner {
    padding: 0 !important;
}

/* .ant-popover-arrow::after{
    background: #fffbe6 !important;
    border: 1px solid #ffe58f !important;
}
.ant-popover-arrow::after{
    background: #e6f4ff;
    border: 1px solid #91caff;
} */